<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>BC首页</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<style>
			.bookItem{
				/*border: 1px;width: 150px;*/
			}
			.bookInfo{
				border: gainsboro solid 2px;
				height: 200px;
				width: 50%;
				margin-left: 25%;
				margin-right: 25%;
			}
			.lunboPic{
				right: 10px;
			}
		</style>
		
		  <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>

	
	</head>
	
	

	<body>
	<div class="container">
		<!--导航条-->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
					<a class="navbar-brand" href="#">图书推荐</a>
				</div>
		 <div id="box">

    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="first_page.html">首页<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="#">排行榜</a>
						</li>
						<li>
							<a href="#">发现</a>
						</li>
						
					</ul>
					<ul class="nav nav-pills pull-right">
						<li style="margin-right: 30px;">
							<form class="navbar-form navbar-right">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<!--<button type="submit" class="btn btn-default"></button>-->
							</form>
						</li>
						<li role="presentation" class="active"><a href="personal_center.html">Home <span class="badge">42</span></a></li>					
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	
		<!--每日推荐-->
		<h3>每日推荐</h2>
		<div class="row" >
			<!--一本书籍介绍-->
				<!--中 - 4
				小 - 6
				超小 - 12-->
			<div class="col-md-2 col-sm-6 col-xs-12 bookItem" th:each="book:${books}">
							<div style="margin-top: 10px;">
					<a href="bookDetails.html">
					<img th:src="${book.img2}" weight="150" height="150"/>
					</a>
				</div>
									<td>
				
						<p>
						  <a  style="font-size:15px;" th:href="@{'/book/'+${book.id}}"  th:text="${book.name}" >
                          </a>
                          </p>
							<p style="font-size:15px;" th:text="@{'作者: '+${book.author.name}}" >作者:  罗贯</p>
						
							<p style="font-size:15px;" th:text="@{'出版社: '+${book.publisher}}">出版社: 中华书局</p>
							<p style="font-size:15px;" th:text="@{'评分: '+${book.rating}}">评分: 9.5</p>
							<p style="font-size:15px;" th:text="@{'定价: '+${book.price}}">定价: 70.00元</p>
							<p style="font-size:15px;">装帧: 平装</p>
							<p style="font-size:15px;" th:text="@{'ISBN: '+${book.isbn}}"></p>
							
						</td>
				<!--图片-->

				<!--名称-->
				<!-- 
				<div th:text="${book.name}">
					金锁记
				</div>
		
				<div th:text="${book.authorId}">
					张爱玲
				</div >
		
				<div th:text="${book.publisher}">
					哈尔滨出版社
				</div>
			
				<div th:text="${book.rating}">
					8.5
				</div>
				 -->
			</div>
			
		<h3>根据和你相似的用户，我们为你推荐了...</h2>
		<div class="row" >
			<!--一本书籍介绍-->
				<!--中 - 4
				小 - 6
				超小 - 12-->
			<div class="col-md-2 col-sm-6 col-xs-12 bookItem" th:each="user_cf_book:${user_cf_books}">
							<div style="margin-top: 10px;">
					<a th:href="@{'/book/'+${user_cf_book.id}}">
					<img th:src="${user_cf_book.img2}" weight="150" height="150"/>
					</a>
				</div>
									<td>
				
						<p>
						  <a  style="font-size:15px;" th:href="@{'/book/'+${user_cf_book.id}}"  th:text="${user_cf_book.name}" >
                          </a>
                          </p>
							<p style="font-size:15px;" th:text="@{'作者: '+${user_cf_book.author.name}}" >作者:  罗贯</p>
						
							<p style="font-size:15px;" th:text="@{'出版社: '+${user_cf_book.publisher}}">出版社: 中华书局</p>
							<p style="font-size:15px;" th:text="@{'评分: '+${user_cf_book.rating}}">评分: 9.5</p>
							<p style="font-size:15px;" th:text="@{'定价: '+${user_cf_book.price}}">定价: 70.00元</p>
							<p style="font-size:15px;">装帧: 平装</p>
							<p style="font-size:15px;" th:text="@{'ISBN: '+${user_cf_book.isbn}}"></p>
							
						</td>
			</div>
			
			
		</div>
		<!--作者推荐-->
		<h3>作者推荐</h3>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12" th:each="author:${authors}">
				<div class="col-md-9">
					<img src="https://img1.doubanio.com/img/author/large/1489073160.17.jpg" />
				</div>
				<div class="col-md-3" >
					<p>
						  <a  style="font-size:15px;" th:href="@{'/subject/'+${author.id}}"  th:text="${author.name}" >
                          </a>
                          </p>
				</div>
			</div>
			
		
		</div>
		<!--图书资讯-->
		<h3>图书资讯</h3>
		<div class="row">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
		
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<!--第一个书籍简介-->
				<div class="item active">
					<div class="bookInfo col-md-12 hidden-sm" style="padding: 25px;">
							<!--left-->
							<div class="col-md-8">
									this is a good book
									this is a good book
									this is a good book
							</div>
							<!--right-->
							<div class="col-md-4">
								
								<img class="pull-right" src="https://img3.doubanio.com/mpic/s2976745.jpg"/>
							</div>
							
					</div>
				</div>
				<!--第二个书籍简介-->
				<div class="item">
					<div class="bookInfo col-md-12 hidden-sm" style="padding: 25px;">
							<!--left-->
							<div class="col-md-8">
									this is a good book
									this is a good book
									this is a good book
							</div>
							<!--right-->
							<div class="col-md-4">
								
								<img class="pull-right" src="https://img3.doubanio.com/mpic/s2976745.jpg"/>
							</div>
							
					</div>
				</div>				
				<!--第三个书籍简介-->
				<div class="item">
					<div class="bookInfo col-md-12 hidden-sm" style="padding: 25px;">
							<!--left-->
							<div class="col-md-8">
									this is a good book
									this is a good book
									this is a good book
							</div>
							<!--right-->
							<div class="col-md-4">
								
								<img class="pull-right" src="https://img3.doubanio.com/mpic/s2976745.jpg"/>
							</div>
							
					</div>
				</div>
			</div>
		
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			</div>
		</div>
		
		<!--最热图书榜-->
		<h3>最热图书</h3>
		<!--<hr>-->
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12" th:each="hotBook:${hotBooks}">
				<table>
					<tr>
						<td>
							<img class="pull-right" style="font-size:15px;" th:src="${hotBook.img3}" style="width: 90%;"/>
						</td>
						<td>
							<p>
							  <a  style="font-size:15px;" th:href="@{'/book/'+${hotBook.id}}"  th:text="${hotBook.name}" >
                          </a>
							</p>
						</td>
					</tr>
				</table>
			</div>
						
			</div>
	
		<!--热门标签-->
		<h3>热门标签</h3>
		<div class="col-md-6 col-sm-12">
			<h4>文学</h4>
			<div >
				<a href="/tag/小说" class="btn btn-default">小说</a>
				<a href="/tag/随笔" class="btn btn-default">随笔</a>
				<a href="/tag/日本文学" class="btn btn-default">日本文学</a>
				<a href="/tag/诗歌" class="btn btn-default">诗歌</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<h4>流行</h4>
			<div >
				<a href="/tag/漫画" class="btn btn-default">漫画</a>
				<a href="/tag/绘本" class="btn btn-default">绘本</a>
				<a href="/tag/推理" class="btn btn-default">推理</a>
				<a href="/tag/青春" class="btn btn-default">青春</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<h4>生活</h4>
			<div >
				<a href="/tag/旅行" class="btn btn-default">旅行</a>
				<a href="/tag/励志" class="btn btn-default">励志</a>
				<a href="/tag/职场" class="btn btn-default">职场</a>
				<a href="/tag/教育" class="btn btn-default">教育</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<h4>文化</h4>
			<div >
				<a href="/tag/历史" class="btn btn-default">历史</a>
				<a href="/tag/哲学" class="btn btn-default">哲学</a>
				<a href="/tag/日本文学" class="btn btn-default">日本文学</a>
				<a href="/tag/诗歌" class="btn btn-default">诗歌</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<h4>经管</h4>
			<div >
				<a href="/tag/经济学" class="btn btn-default">经济学</a>
				<a href="/tag/管理" class="btn btn-default">管理</a>
				<a href="/tag/商业" class="btn btn-default">商业</a>
				<a href="/tag/金融" class="btn btn-default">金融</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<h4>科技</h4>
			<div >
				<a href="/tag/科普" class="btn btn-default">科普</a>
				<a href="/tag/互联网" class="btn btn-default">互联网</a>
				<a href="/tag/编程" class="btn btn-default">编程</a>
				<a href="/tag/交互设计" class="btn btn-default">交互设计</a>
			</div>
		</div>
	</div>
	<hr />
		</body>

</html>